body{
     font-size: 16px;
    line-height: 2em;
    
font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: left;
    font-size: 4em;
    line-height: 1.3;
/*    text-transform: uppercase;*/
    margin-bottom: 20px;
    font-weight: 900;
}

p {
/*    margin-bottom: 20px;*/
    text-align: left;
/*    font-size: 16px;*/
/*    line-height: 1;*/
}

h2{
    font-size: 1.5em;
}

quote {
    font-style: italic;
}

.d_t > p{
    font-variant-caps: all-small-caps;
    margin-bottom: 20px;
    line-height: 1.3;
}

quote ::before {
    content: open-quote;
}

quote ::after {
    content: close-quote;
}

h3{
   font-size: 0.7em; 
/*    text-align: left;*/
    font-weight: 100;
    line-height: 1.2;
    font-kerning: 50rem;

}

a {
    text-decoration: none;
/*    color: white;*/
}

button p{
/*    color: white;*/
}

button {
    padding: 10px 40px 10px 40px;
    background-color: rgb(51,0,255);
    box-shadow: black 5px 5px;
    border-style: none;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
}

/*
button a {
    margin: auto;
    color: white;
}

button a:hover{
    color: rgb(21,0,76);
}
*/

button p{
    margin: auto;
/*    color: white;*/
}

button p:hover{
/*    color: rgb(21,0,76);*/
}

button:active p{
/*    color: rgb(21,0,76)*/
}


button:active{
    background-color: white;
    color: rgb(21,0,76)
}

button:hover{
    color: rgb(21,0,76);
/*    background-color: white;*/
}

.button_box{
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (max-width: 768px){
    body{
     font-size: 12px;
}

}